<div class="row">
  <div class="col-4 mb-3" *ngFor="let photo of car.photos">
    <img src="{{photo.imageUrl}}" alt="{{photo.imageUrl}}" class="img-thumbnail p-1">
    <div class="text-center">
      <button class="btn btn-sm" [disabled]="photo.isPrimary" [ngClass]='photo.isPrimary ? "btn-success active" : "btn-outline-success"'
      (click)="setPrimaryPhoto(car.id, photo)">Main</button>
      <button class="btn btn-sm btn-danger" (click)="deletePhoto(car.id, photo)"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div ng2FileDrop [uploader]="uploader" class="card bg-faded p-4 text-center mt-5">
    <i class="fa fa-upload"></i>
    Drop Photo here
  </div>
</div>
